body{
display: flex;
flex-direction: column;
}

/* first part of the page*/

.top-of-the-page,
.first-part {
    background-color: #1f2937;
}

.first-part {
    display: flex;
    justify-content: space-evenly;
}

.left-side-of-first-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

a,
.text-below-title1 {
    color:#e5e7eb;
    font-size: 18px;;
    text-decoration: none;
    margin-bottom: 10px;
}

.title1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

ul {
  list-style-type: none; 
}

.top-of-the-page {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.img1 {
    width: 500px;
    height: 220px;
    background-color: grey;
    color: white;
    text-align: center;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

.signup-button1 {
    border: none;
}


/* second part of the page */


.title2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 70px;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.picture1,
.picture2,
.picture3,
.picture4 {
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.pic-with-text {
    width: 160px;
}

.caption {
    text-align: center;
    color: grey;
}




/* third part of the page */

.third-part {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    width: 750px;
    align-self: center;
}

.author {
    align-self: flex-end;
    text-align: end;
    font-weight: 600;
    padding-right: 300px;
}


/* fourth part of the page */

.fourth-part {
    display: flex;
    background-color: #3882f6;
    color: white;
}

.title4 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.signup-button2 {
    border: white;
}


/* footer */
.footer {
    display: block;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-text {
    color: #e5e7eb;
    text-align: center;
}


/*padding for all parts */
.first-part,
.second-part,
.third-part,
.fourth-part {
    padding: 100px 180px 100px 180px; 
}

.top-of-the-page {
    padding-left: 180px;
    padding-right: 180px;
}
